body{
    text-align:center;

    background: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    color: rgb(29, 84, 23);

    
}
header {
    font-size:19px;
    background-color: rgb(30, 101, 70);
    background-size:10;    
    padding:20px;
    height:30px;

  
}


ul{

    margin:0;
    padding:0;
    list-style-type: none;

}
li{
color:rgb(255, 255, 255);
display:inline-block;
margin-right:50px;
position: relative; top: 1px; left:0px;

}
li.logo a{
    background-image:url("images/log1.png");
    display:inline-block;
    background-size:450px;
    background-repeat:no-repeat;
    background-size:100%;
    position: relative; top: -29px; 
    text-indent:-10000px;
    width:450px;
    height:80px;

}

section.banner.front{
    
    background-image:url("images/front1.png");
    background-position:center;
    background-size:100%;
    background-repeat:no-repeat;
    height:670px;

}

section.banner.front button{
    color: rgb(29, 84, 23);
    margin: auto;
  position: absolute;
  top:430px;
  left: 0;
  bottom: 0;
  right: 0;
    font-size:18px;
    background-color: #abe947;
    height:50px;
    width:200px;
    border: 2px solid rgb(255, 255, 255);
    font-family:inherit;


}
.features {
background-size:cover;
    padding-top:50px;
    display: flex;
    flex-direction: row;
}
.features figure{
    text-wrap: balance;
    width:200;
}
.features figure img{
    border: 4px solid rgb(191, 224, 116);


}
a{    
    color:rgb(255, 255, 255);
    text-decoration: none;

}
a:hover{
    text-decoration:underline;
}
section.description{
    background: rgb(195, 232, 139);
    font-size:20px;   
    padding:80px;
    height:200px;

    
}
section.description h1{
    font-size:40px;   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
    }

section.about{
    background-color:rgb(191, 224, 116);
    font-size:25px;
    display: flex;
    flex-direction: row;
    
}
section.about figure img{
    border: 15px solid rgb(255, 255, 255);

}




footer{
    background-color: rgb(30, 101, 70);
    color:white;
    padding:10px 20px;
}

.container{
    max-width: 1224px;
    width: 90%;
    margin:auto;
    padding:40px
}
.photo-gallery{
    display:flex;
    gap:20px;
}
.column{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.photo img{
    width:100%;
    height:100%;
border-radius: 5px;
object-fit:cover;
}
@media screen and (max-width:758px){
    .photo-gallery{
    flex-direction: column;

    }

}